* {
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.header {
    margin-bottom: 52px;
    margin-top: 20px;
    // .header__logo

    &__logo {
        font-size: 24px;
        font-weight: 600;
    }

    // .header__menu

    &__menu {
        display: flex;
        align-items: center;
        gap: 22px;

        a {
            font-size: 16px;
            font-weight: 500;
        }
    }

    // .header__btn-energy

    &__btn-energy {
        border: none;
        background-color: #fff;
        max-width: 40px;
        width: 100%;
        position: relative;
        top: 13px;
        margin: 0 40px;
    }

    // .header__btn-wallet

    &__btn-wallet {
        border: none;
        font-size: 16px;
        font-weight: 500;
        color: #007AFF;
        background-color: #007AFF1F;
        padding: 16px;
        border-radius: 33px;
        width: 152px;
        margin: 0 0 0 36px;

    }

    a {
        text-decoration: none;
        color: #000;
    }
}

.nav {
    display: flex;
    align-items: center;

    input {
        max-width: 350px;
        width: 100%;
        padding: 16px 24px;
        color: grey;
        border: 2px solid grey;
        border-radius: 60px;
        margin: 0 100px;
        background-image: url(./img/Frame.png);
        background-repeat: no-repeat;
        background-position: 0;
        text-align-last: left;
        box-shadow: 0 5px 25px 0 rgba(0, 0, 0, 0.275);
    }

}




// section hero

.hero {
    margin-bottom: 90px;

    h3 {
        font-weight: 500;
        font-size: 28px;
        margin-bottom: 12px;
    }

    .hero__name {
        font-weight: 400;
        font-size: 16px;
        display: flex;
        align-items: center;
        gap: 5px;
        margin-bottom: 46px;
    }

    &__img {
        max-width: 730px;
        width: 100%;
        height: 100%;
        object-fit: cover;


    }

    // .hero__wrapper

    &__wrapper {
        display: grid;
        grid-template-columns: 1.5fr 1fr;
        gap: 23px;
    }

    // .hero__info

    &__info {
        box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.401);
        padding: 24px 18px;
        border-radius: 12px 12px 0 0;
    }

    // .hero__wrap

    &__wrap {
        display: grid;
        grid-template-columns: 1fr 1fr;

    }

    // .hero__box

    &__box {
        display: flex;
        flex-direction: column;

    }

    // .hero__wrap-subtitle

    &__wrap-subtitle {
        font-weight: 400;
        font-size: 16px;
        margin-bottom: 12px;
    }

    // .hero__num

    &__num {
        font-weight: 500;
        font-size: 24px;
        margin-bottom: 8px;
    }

    // .hero__num-time

    &__num-time {
        color: grey;
    }

    // .hero__block

    &__block {
        margin-bottom: 72px;
        border-left: 1px solid gray;
        padding-left: 48px;

    }

    // .hero__block-hours

    &__block-hours {
        display: flex;
        flex-direction: column;
    }

    // .hero__block-mins

    &__block-mins {
        display: flex;
        flex-direction: column;
    }

    // .hero__block-seconds

    &__block-seconds {
        display: flex;
        flex-direction: column;
    }


    &__time {
        display: flex;
        gap: 20px;

    }

    button {
        border: none;
        background-color: #007AFF;
        width: 360px;
        color: #fff;
        padding: 20px 138.5px;
        border-radius: 45px;
        font-weight: 600;
        font-size: 16px;
    }

    a {
        text-decoration: none;
        color: #007AFF;
        font-weight: 500;
        font-size: 16px;

    }

    &__btns {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
}












// SECTION LIVE

.live {
    
    // .live__title

    &__title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 36px;
    }

    // .live__cards

    &__cards {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
        gap: 32px;
        margin-bottom: 52px;
    }

    // .live__card

    &__card {
        display: flex;
        flex-direction: column;
    }

    // .live__img

    &__img {
        width: 100%;
    }

    // .live__box

    &__box {
        border: 1px solid gray;
        border-top: none;
        padding: 20px;
        border-radius: 0 0 20px 20px;
        h4 {
            font-weight: 500;
            font-size: 20px;
            margin-bottom: 20px;
        }
    }

    // .live__info

    &__info {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin-top: auto;
    }

    // .live__text

    &__text {
        color: gray;
        font-weight: 400;
        font-size: 16px;
    }

    // .live__price

    &__price {
        display: flex;
        flex-direction: column;
        align-items: center;
        p {
            font-weight: 500;
            font-size: 20px;
        }
    }
    button {
        margin: 0 auto;
        display: block;
        padding: 16px 64px;
        width: 208px;
        background-color: #fff;
        border-radius: 48px;
        border: 1px solid gray;
        
    }
    margin-bottom: 90px;
}



// section top



.top {
    margin-bottom: 90px;
    .top__btn {
        
        margin: 0 auto;
        display: block;
        padding: 16px 64px;
        background-color: #fff;
        border: 1px solid gray;
        width: 257px;
        border-radius: 48px;
       
    }
    .card {
        display: flex;
        flex-direction: column;
        
        
    }

}
.top__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 36px;
    p {
        color:  gray;
    }
}
.top__wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 32px;
    margin-bottom: 56px;
}
.top__content {
    padding: 16px 20px 0 16px;
    
    display: flex;
    gap: 16px;
    img {
        width: 56px;
        height: 56px;
    }
    h6 {
        font-weight: 400;
        font-size: 18px;
        display: flex;
        align-items: center;
        gap: 6px;
    }
    p {
        color: gray;
    }


   
}
.top__wrap {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 72px;
}
.top__box {
    display: flex;
    flex-direction: column;
    max-width: 280px;
    width: 100%;

}
.top__info {
    display: flex;
    justify-content: right;
    gap: 20px;
    padding-bottom: 18px;
    padding-right: 16px;
    button {
        background-color: #007AFF;
        width: 83px;
        padding: 8px 16px;
        border-radius: 38px;
        color: #fff;
        border: none;
    }
}
.top__row {
    border: 1px solid gray;
    border-top: none;
}
.modal {
    position: fixed;
    top: 0;
    right: 0;
    background-color: #00000068;
    width: 100%;
    height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}
.modal__box {
    max-width: 600px;
    background-color: #fff;
    padding: 40px;
    padding: 40px;
    form {
        display: flex;
        flex-direction: column;
        gap: 10px;
        input {
            padding: 10px;
            border-radius: 20px;
            border: 1px solid lightgray;
            transition: 1s;
            &:focus {
                outline: none;
            }
        }
    }
}
.close {
    cursor: pointer;
    width: max-content;
    margin-left: auto;
}

.active {
    display: flex;
}